.header {
  padding: 15rem 0;
  font-size: 8rem;
  color: #fff;
  text-align: center;
  background: linear-gradient(135deg, #721c24 0%,#351616 100%);
  background: linear-gradient(to bottom right, #721c24, var(--primary));
}

.header__title {
  font-size: inherit;
  font-family: var(--title-font);
}

.header__subtitle {
  display: block;
  font-family: var(--heading-font);
  font-size: 0.35em;
  opacity: 0.6;
}
