mixin nav-item(title, href)
  li.nav-item
    a.nav-link(href=href)= title

doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    title David and Jackie Are Getting Married
    meta(name="description" content="Jackie Kutcher and David Zukowski are getting married!")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(href="https://fonts.googleapis.com/css?family=Oswald|Raleway" rel="stylesheet")
    link(rel="apple-touch-icon", sizes="57x57", href="/apple-icon-57x57.png")
    link(rel="apple-touch-icon", sizes="60x60", href="/apple-icon-60x60.png")
    link(rel="apple-touch-icon", sizes="72x72", href="/apple-icon-72x72.png")
    link(rel="apple-touch-icon", sizes="76x76", href="/apple-icon-76x76.png")
    link(rel="apple-touch-icon", sizes="114x114", href="/apple-icon-114x114.png")
    link(rel="apple-touch-icon", sizes="120x120", href="/apple-icon-120x120.png")
    link(rel="apple-touch-icon", sizes="144x144", href="/apple-icon-144x144.png")
    link(rel="apple-touch-icon", sizes="152x152", href="/apple-icon-152x152.png")
    link(rel="apple-touch-icon", sizes="180x180", href="/apple-icon-180x180.png")
    link(rel="icon", type="image/png", sizes="192x192", href="/android-icon-192x192.png")
    link(rel="icon", type="image/png", sizes="32x32", href="/favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="96x96", href="/favicon-96x96.png")
    link(rel="icon", type="image/png", sizes="16x16", href="/favicon-16x16.png")
    link(rel="manifest", href="/manifest.json")
    meta(name="msapplication-TileColor", content="#ffffff")
    meta(name="msapplication-TileImage", content="/ms-icon-144x144.png")
    meta(name="theme-color", content="#ffffff")
    link(rel="stylesheet" href="/css/main.css")
  body
    nav.navbar.navbar-expand-sm.navbar-light
      .container
        a.navbar-brand(href="/") Jackie & David
        .collapse.navbar-collapse
          ul.navbar-nav.ml-md-auto
            +nav-item("Our Story", "/#our-story")
            +nav-item("Venue", "/#the-venue")
            +nav-item("Registry", "/#our-registry")
            if experimental
              +nav-item("RSVP", "/rsvp")
    block header
    main.container
      block content
    block footer
    block scripts
      if development
        script(src="/livereload.js?snipver=1")
