extends ../layouts/rsvp.pug

block append scripts
  script(src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js")
  script(src="https://www.gstatic.com/firebasejs/5.1.0/firebase-app.js")
  script(src="https://www.gstatic.com/firebasejs/5.1.0/firebase-auth.js")
  script(src="https://www.gstatic.com/firebasejs/5.1.0/firebase-database.js")
  script(src="https://www.gstatic.com/firebasejs/5.1.0/firebase-firestore.js")
  script(src="https://www.gstatic.com/firebasejs/5.1.0/firebase-messaging.js")
  script(src="https://www.gstatic.com/firebasejs/5.1.0/firebase-functions.js")
  script(src="/js/rsvp.js")

block content
  .container#rsvp
