extends ../layouts/default.pug

block header
  // header
  //   .header
  //     .container.text-center
  //       h1.header__title Jackie Kutcher & David Zukowski
  //       .header__subtitle
  //         span.d-block.d-md-inline-block September 22, 2018
  //         span.d-none.d-md-inline-block.ml-3.mr-3 &mdash;
  //         span.d-block.d-md-inline-block Rochester, MI

block content
  .container#app

block append scripts
  script(src="/js/apps/rsvp/main.js?v=3")
