.admin header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 1rem;
}

.admin header h1 {
  flex-grow: 1;
}

.admin-bar {
  padding: 1rem;
  background: rgb(230, 230, 230);
}

.stats {
  display: flex;
  align-items: middle;
}

.stat {
  padding: 1rem;
  margin: 0 1rem 0 0;
  text-align: center;
}

.stat label {
  display: block;
  font-size: 1rem;
}

.stat span {
  font-weight: bold;
  font-size: 2.5rem;
}

.admin ul {
  list-style: none;
  padding: 0;
  border-left: 1px solid rgb(220, 220, 220);
  border-right: 1px solid rgb(220, 220, 220);
}

.admin ul li {
  padding: 0.5rem 1rem;
  border-bottom: 1px solid rgb(220, 220, 220);
}

.admin .list-header {
  background: rgba(100, 100, 100);
  color: #fff;
}

.admin .list-header .row div {
  text-align: center;
}

.admin .guest-row .col-2 {
  text-align: center;
}

.admin .checkmark {
  cursor: pointer;
}

.admin .checkmark.far {
  color: rgb(230, 230, 230);
}
