.rsvp {
  display: flex;
  justify-content: center;
  margin-top: 7rem;
}

.rsvp .section-wrapper {
  display: inline-block;
  position: relative;
  max-width: 100%;
}

.rsvp .section__header {
  color: var(--green);
}

.rsvp .my-card {
  z-index: 9999;
  box-shadow: 0 0 65px 0 rgba(1,1,1,.12);
}

.guest-rsvp-fieldset {
  padding-left: 0;
  padding-right: 0;
  background: none;
}

.rsvp-status-field {
  display: flex;
}

.venue-location {
  position: absolute;
  top: 3rem;
  left: 100%;
  min-width: 20rem;
  padding: 1.25rem;
  background: rgba(11, 202, 174, 0.2);
  border: 3px solid var(--green);
  border-left: none;
}

@media screen and (max-width: 768px) {
  .rsvp {
    margin-top: 2rem;
  }

  .venue-location {
    display: none;
  }
}
