.viewport__title {
  font-family: 'Great Vibes', cursive;
  font-family: 'Dosis', sans-serif;
  font-size: 7rem;
  color: var(--primary);
}

.lead-image {
  float: left;
  width: 250px;
  height: 250px;
  margin: -3rem 2rem 2rem 2rem;
  border: 10px solid #fff;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.15);
}

.image {
  display: block;
  width: 100%;
}

.content {
  padding: 0 2rem;
  font-size: 1.3rem;
  font-color: #999;
}
