.header {
  margin: 20vh 0;
  font-size: 5.65rem;
  font-weight: bold;
}

.header__title {
  margin: 0;
  font-size: 1em;
  color: #fb205d;
}

.header__subtitle {
  font-size: 0.4em;
  color: rgba(0, 0, 0, 0.5);
}

.body-copy {
  text-indent: 2rem;
}
