doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    title David and Jackie Are Getting Married
    meta(name="description" content="Jackie Kutcher and David Zukowski are getting married!")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(href="https://fonts.googleapis.com/css?family=Oswald|Raleway" rel="stylesheet")
    link(rel="stylesheet" href="/css/main.css")
  body
    include ../includes/header.pug
    main.container
      block content
    include ../includes/footer.pug
    script
      include ../scripts/main.js
