.section {
  position: relative;
  margin: 0 auto 15vh;
  padding: 10rem 2rem 2rem;
  max-width: 70rem;
  box-shadow: 0px 0px 120px 0px rgba(1, 1, 1, 0.12);
  border-bottom: 3px solid #000;
}

.section__header {
  position: absolute;
  top: 0rem;
  left: -5rem;
  font-size: 10rem;
}

.section__content {
  padding: 4rem;
  font-size: 2rem;
}

.section:last-of-type {
  margin-bottom: 10vh;
}

.section:nth-of-type(even) .section__header {
  left: initial;
  right: -5rem;
  color: var(--green);
}
.section:nth-of-type(even) {
  border-color: var(--green);
}

.section:nth-of-type(3n) .section__header {
  color: var(--red);
}

.section:nth-of-type(3n) {
  border-color: var(--red);
}

@media (--tablet) {
  .section {
    margin: 0 auto 4rem;
    padding: 2rem;
  }

  .section__header {
    position: relative;
    right: initial !important;
    left: initial !important;
    margin: 0 0 1rem;
    font-size: 4rem;
  }

  .section__content {
    padding: 0;
    font-size: 2rem;
  }
}
