.my-card {
  position: relative;
  margin: 0 auto 15vh;
  padding: 10rem 2rem 2rem;
  max-width: 70rem;
  box-shadow: 0px 0px 120px 0px rgba(1, 1, 1, 0.12);
  border-bottom: 3px solid #000;
}

.my-card__content {
  padding: 4rem;
}

@media (--tablet) {
  .my-card {
    margin: 0 auto 4rem;
    padding: 2rem;
  }

  .my-card__content {
    padding: 0;
    font-size: 2rem;
  }
}
